html, body
{
	width: 100%;
	margin: 0.3em auto 0.3em auto;
}

body 
{
	background: url(../img/bg.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img 
{
	border: 0px;
}

#wrapper 
{
	width: 95%;
	max-width: 1800px;
	background: white;
	border: solid #666666 1px;
	margin: 0px auto 0px auto;
}

#inwrapper 
{
	margin: 15px;
}

#menutop 
{
	background-image: url(../img/menutopsegment.jpg);
	background-repeat: repeat-x;
	margin-top: 10px;
	width: 100%;
	height: 27px;
}

#menubottom 
{
	background: #333;
	width: 100%;
	color: white;
	font-size: 12px;
}

#content 
{
	margin: 15px;
}

#content a
{
	text-decoration: underline;
	color: rgb(0, 0, 238);
}

#contentleft 
{
	padding:0px;
	float: left;
	width: 75%;
	overflow: hidden;
}

#contentright 
{
	width: 23%;
	float: right;
	border-left: 1px dotted #999999;
	overflow: hidden;
}

.incontent 
{
	font-size: 0.8em;
	margin: 0px;
	margin-bottom: 15px;
	padding: 10px;
}

#footer 
{
	clear: both;
	text-align: center;
	color: rgb(0, 0, 80);
	font-size: 0.8em;
	padding-bottom: 5px;
}

.contentwraphelp 
{
	clear: both;
}

.menulist
{
	padding: 0px;
	margin: 0px;
	padding-top: 5px;
	font-size: 0.8em;
	text-indent: 6px;
}

.menulist a 
{
	color: white;
	text-decoration: none;
}

.menulist a:hover
{
	text-decoration: underline;
}

.menulist li
{
	display: inline;
	padding: 0px 10px 0px 5px;

	font-variant: small-caps;
}

h1
{
	font-size: 1.4em;
	margin: 0px;
}

h2 
{
	font-size: 1em;
	margin: 0px;
}

.lightsoft
{
	color: #999999;
	font-size: 0.8em;
}

.blogpost
{
	margin-bottom: 100px;
}

.blogcomment
{
	margin-left: 30px;
	border-left: 1px solid #CCCCCC;
}

.commentlink
{
	font-size: 0.8em;
	float: right;
}

.postdate
{
	font-size: 0.8em;
	color: #999999;
}

.inlineimg
{
	float: left;
	margin: 0px 10px 10px 0px;
}